<p style="color: green"><%= notice %></p>

<h1>Foods</h1>
<hr />
<div id="foods">
  <% @foods.each do |food| %>
  <h3>Food:<%= food.name %></h3>
  <h4>Price:<%= food.price %>$</h4>
  <h4>Unit:<%= food.measurement_unit%></h4>
  <p><%= link_to "Show this food", food_path(food.id) %></p>
  <p><%= button_to 'delete', food_path(food.id), method: :delete%></p>

  <h1>-----------------------</h1>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
